@import "tailwindcss";

:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f1f5f9;
  /* Slate 100 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}